@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');

body {
  background-image: url('https://c.tenor.com/438H6u87JfsAAAAC/sky-clouds.gif');
  background-size: contain;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  color: #fff;
}